<!DOCTYPE html>
<html ng-app="{% block ng_app %}ServerGroveKb{% endblock ng_app %}">
    <head>
        <title>{% block title %}Knowledge Base{% endblock %}</title>
        {% block metas %}{% endblock %}
        {% block javascripts %}
            {% spaceless %}
                {% include "ServerGroveKbBundle:Layout:_javascripts.html.twig" %}
            {% endspaceless %}
        {% endblock %}
        {% block stylesheets %}
            {% spaceless %}
                {% include "ServerGroveKbBundle:Layout:_stylesheets.html.twig" %}
            {% endspaceless %}
        {% endblock %}

        <link rel="alternate" title="RSS" href="{{ path('sgkb_rss_index') }}" type="application/rss+xml" />
    </head>
    <body>

        {% include "ServerGroveKbBundle:Layout:_topbar.html.twig" %}

        <div class="subnav">
            <div class="nav-collapse">
                <div class="container">

                    <div class="row">

                        {% block body %}
                            {% block preheader %}{% endblock preheader %}

                            <div class="title-page">
                                {% block postheader %}{% endblock postheader %}
                            </div>

                            {% include "ServerGroveKbBundle:Default:breadcrumb.html.twig" %}

                            <div class="span2">
                                {% render "ServerGroveKbBundle:Categories:selector" with { 'topCategory': category is defined ?
                                category.getTopCategory() :
                                article is defined ?
                                article.getDefaultCategory().getTopCategory() : null
                                } %}
                            </div>

                            <div class="span10">
                                {% render "ServerGroveKbBundle:Default:searchForm" %}
                                {% block content %}{% endblock content %}
                            </div>


                    </div>


                    <hr>


                    {% include "ServerGroveKbBundle:Layout:_footer.html.twig" %}


                    {% endblock body %}

                </div>
            </div>
        </div>

        {% block prefooter %}
            {% include "ServerGroveKbBundle:Layout:_prefooter.html.twig" %}
        {% endblock prefooter %}

        {% block postfooter %}{% endblock postfooter %}

    </body>
</html>
