{% extends "ServerGroveKbBundle::layout.html.twig" %}

{% block preheader %}

{% endblock %}

{% block postheader %}
<h1>{% trans %}Knowledge Base{% endtrans %}</h1>
{% endblock %}

{% block stylesheets %}
{% spaceless %}
{% stylesheets
    "@ServerGroveKbBundle/Resources/public/css/*.css"
    "@ServerGroveKbBundle/Resources/public/css/frontend/*.css"
    filter="?yui_css" output="/css/compiled/default.css" %}
<link rel="stylesheet" media="all" type="text/css" href="{{ asset_url }}" />
{% endstylesheets %}
{% endspaceless %}
{% endblock %}

{% block prefooter %}


{% endblock %}
